fastapi
uvicorn[standard]
python-multipart
python-dotenv
openai
requests
torch
torchvision
pillow
numpy
opencv-python
easyocr
paddleocr
paddlepaddle
matplotlib
scikit-learn>=1.5.0,<1.7.0
joblib
pandas
pytesseract
transformers>=4.41.0,<4.50.0
timm
einops
